#brand-name {
  color: rgb(0, 15, 133);
  font-size: 30px;
  padding: 0px;
  font-weight: bold;
}
#brand-img {
  margin-top: -9px;
  margin-bottom: 3px;
  margin-right: 10px;
}

.bg-color {
  background-color: #151012;
}
.bg-su-color {
  background-color: rgb(64, 64, 73);
}
@media (min-width: 768px) {
  .sub-input {
    width: 30%;
  }
}
.fs-7 {
  font-size: 13px;
}
.border-ra {
  border-radius: 5px;
}
.btn-red {
  background-color: rgb(255, 0, 0);
}
.text-red {
  color: rgb(255, 0, 0);
}
.border-width {
  border: 3px solid yellowgreen;
}
